.about-page {
    padding-left: 7vw;
    padding-right: 7vw;
    overflow-x: hidden;
}

.about-banner {
    margin-top: 7vh;
    width: 100%;
    border-radius: 25px;
}

.about-banner img {
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
}

.about-collapse {
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
}

@media screen and (max-width: 414px) {
    .about-page {
        overflow-x: hidden;
    }

    .about-banner  {
        width: 100%;
       height: 38vh;
    }

    .about-banner img {
        border-radius: 15px;
        height: 40vh;
    }

    .about-collapse {
        width: 100%;
        margin-left: 0%;
        border: 1px solid black;
    }
}