.banner {
    margin-top: 25px;
    border-radius: 25px;
    background-color: rgb(53, 39, 39);
    height: fit-content;
}

.banner img {
    padding: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 70%;
}

.banner-title {
    position: absolute;
    font-size: 3.5vw;
    font-weight: lighter;
    top: 27vh;
    left: 25vw;
    right: 20vw;
    color: #FFFFFF;
}




@media screen and (max-width: 1030px) {
    .banner-title {  
        top: 24vh;
    }
    
    .banner {
        height: fit-content;
    }
}


@media screen and (max-width: 850px) {
    .banner-title {  
        top: 23.5vh;
    }
    .banner-img{
        height:  100px;
    }
}



@media screen and (max-width: 390px) {
    .banner-title {  
        top: 21vh;
        left: 13vw;
    }

    .banner-title {
        font-size: 5.5vw;
    }

    .banner {
        margin-top: 0px;
        border-radius: 15px;
    }

    .banner img{
        height:  111px;
        border-radius: 15px;
    }
}