.home-page {
    padding-left: 100px;
    padding-right: 100px;
}


.banner {
    margin-top: 25px;
    border-radius: 25px;
    background-color: rgb(53, 39, 39);
    height: fit-content;
}

.banner img {
    padding: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 70%;
}

.banner-title {
    position: absolute;
    font-size: 3.5vw;
    font-weight: lighter;
    top: 27vh;
    left: 25vw;
    right: 20vw;
    color: #FFFFFF;
}

.location_container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(249, 246, 246);
    border-radius: 20px;
    margin-top: 25px;
    height: fit-content;
    gap: 50px;
    padding-top: 46px;
    padding-left: 3.5%;
    margin-bottom: 120px;
}







@media screen and (max-width: 1160px) {
    .location_container {
        padding-left: 12%;
    }
}


@media screen and (max-width: 1030px) {
    .banner-title {  
        top: 24vh;
    }
    
    .banner {
        height: fit-content;
    }
}



@media screen and (max-width: 885px) {
    .location_container {
        padding-left: 20%;
    }
}

@media screen and (max-width: 850px) {
    .banner-title {  
        top: 23.5vh;
    }
    .banner-img{
        height:  100px;
    }
}


@media screen and (max-width: 650px) {
    .home-page {
        padding-left: 55px;
        padding-right: 55px;
    }

    .location_container {
        padding-left: 8%;
        gap: 20px;
    }
}



@media screen and (max-width: 390px) {
    .home-page {
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-title {  
        top: 21vh;
        left: 13vw;
    }

    .banner-title {
        font-size: 5.5vw;
    }

    .banner {
        margin-top: 0px;
        border-radius: 15px;
    }

    .banner img{
        height:  111px;
        border-radius: 15px;
    }

    .location_container {
        padding-left: 0%;
    }
}