.collapse {
    display: flex;
    overflow-x: hidden;
    flex-direction: column; 
    padding: 0px;
    width: 100%;
    margin: 0px;
    margin-bottom: 6.3vh;
    min-height: 2vh;
}

.collapse-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
   padding-top: 1vh;
   padding-bottom: 1vh;
   padding-left: 1vw;
   color: white;
   background-color: #FF6060;
   margin: 0px;
}

.collapse-text {
    margin-top: 0px;
    border-radius: 0 0 10px 10px;
    padding-top: 2.1vh;
    padding-inline: 1.8vw;
    padding-bottom: 1vh;
    font-size: 1rem;
    background-color: rgb(246, 246, 246);
    transform-origin: top center;
    transform: scaleY(1);
}


.collapse-text-close {
    transform: scaleY(0);
    display: none;
}





.inactive {
    margin-right: 1.3vw;
    font-size: 1.3vw;
    transform-origin: 60% 50%;
    transform: rotate(90deg);
    transition: all 500ms;
}


.active {
    margin-right: 1.3vw;
    font-size: 1.3vw;
    transform-origin: 60% 50%;
    transform: rotate(-90deg);
    transition: all 500ms;
}



.equipments {
    list-style-type: none;
}



@media screen and (max-width: 650px) {

    .collapse {
        width: 100%;
    }

    

    

    .collapse-text {
        font-size: 0.7rem; 
        width: 95.5%;
    }

    .collapse span {
        font-size: 3vw;
    }
}