.info-container {
    display: flex;
    justify-content: space-between;
}





.housing-title {
    width: 45vw;
    font-size: 2vw;
    color: rgb(234, 99, 99);
    margin-bottom: 3px;
}

.housing-location {
    margin-top: 8px;
    font-weight: 700;
    width: fit-content;
    color: #FF6060;
}

.tags {
    display: flex;
    justify-content: space-between;
    padding: 0; 
    width: fit-content;
    list-style-type: none;
}

.tags li {
    font-size: 1vw;
    margin-right: 6px;
    padding-inline: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-radius: 13px;
    height: fit-content;
    white-space: nowrap;
    color: white;
    background-color: #FF6060;
}

.info-host {
    margin-top: 2vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.name-picture {
    display: flex;
    justify-content: right;
    width: fit-content;
}

.name-picture img{
margin-left: 8px;
height: 6vh;
width: 3vw;
border-radius: 50%;
} 

.name-picture p {
    inline-size: 7.8vw;
    font-size: 1.5vw;
    height: fit-content;
    color: #FF6060;
    font-weight: 600;
    overflow-wrap: break-word;
    direction: rtl;
    margin: 0;
    margin-bottom: 0px;
    margin-right: 2px;
}



.ratings {
    font-size: 1.4vw;
    align-self:flex-end;
    height: fit-content;
    margin-top: 2vh;
}

.stars {
    margin-inline: 0.2vw;
}

.valid {
   color: #FF6060;
}

.none-valid {
    color: rgb(224, 217, 217);
}

@media screen and (max-width: 1134px) {
    .name-picture img {
        height: 3.5vh;
        width: 2.5vw;
    }
}


@media screen and (max-width: 915px) {
   .name-picture {
    margin-top: 3vh;
   }

   .name-picture img {
    height: 30px;
    width: 32px;
   }

    .tags {
        width: 32vw;
    }

    .tags li {
        font-size: 1.1vw;
    }
}


@media screen and (max-width: 380px) {

    .info-container {
        flex-direction: column;
    }


    .housing-title {
        font-size: 3.3vw;
        width: 70vw;
    }

    .housing-location {
        font-size: 2.5vw;
    }

    .info-host {
        margin-top: 0;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    
    .tags li {
        font-size: 2.3vw;
    }

    .name-picture {
        width: fit-content;
        height: 35px;
    }

    .name-picture p {
        inline-size: 15vw;
        font-size: 3vw;
        margin-right: 1vw;
    }

    .name-picture img {
        width: 25px;
        height: 25px;
    }

    .ratings {
       font-size: 3vw;
       align-self: center;
       margin-top: 0;
    }
}
