
.error-page {
    border: 1px solid black;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: #FF6060;
}


.error-number {
    margin-top: 12vh;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15vw;
}


.error-quote {
    font-size: 2vw;
    margin: 0px;
    margin-bottom: 18vh;
}

.home-link {
   color: #FF6060;
}


.error-footer {
    margin-top: 16vh;
}



@media screen and (max-width: 650px) {
    .error-page {
        padding-left: 55px;
        padding-right: 55px;
    }

    .error-number {
       font-size: 20vw; 
    }

    .error-quote {
        font-size: 3vw;
    }

}



@media screen and (max-width: 390px) {
    .error-page {
        padding-left: 20px;
        padding-right: 20px;
    }

    .error-number {
        font-size: 22vw; 
     }
 
     .error-quote {
         font-size: 4.7vw;
     }

}